# vi stuff
.*.sw?

# Python stuff
*.pyc

# Data files
*.dat
*.csv

# Emacs temp files
.#*

# OSX Files
.DS_Store

CATKIN_IGNORE

gazebo_dev/\.project

gazebo_msgs/\.project

gazebo_plugins/\.project

gazebo_ros_control/\.project

gazebo_ros/\.project
